<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head>{{ HEAD }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#15293F" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#15293F" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#15293F" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="/css/material-icons.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,400i,600,600i,700,800,900" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>

<body {{ BODY_ATTRS }}>
    {{ APP }}
    <a href="#top" class="back-to-top btn shadow">
        <i class="material-icons">arrow_upward</i>
    </a>
</body>

</html>