<template>
    <article>
        <h6>{{titre}}</h6>
        <h2 class="mb-3"><span>{{prenom}}</span> <span>{{annee}}</span></h2>
        <figure class="image-container" v-for="image of images" :key="image.url">
            <a data-fancybox="" :href="'/images/indd/'+image.url+'.png'">
                <img :src="'/images/indd/'+image.url+'.png'" :alt="image.description">
            </a>
            <figcaption v-if="image.description">{{ image.description }}</figcaption>
        </figure>
    </article>
</template>

<script>
export default {
  props: {
      nom: String,
      prenom: String,
      titre: String,
      description: String,
      annee: String,
      images: Array
  },
  data() {
      return {

      }
  },
  methods: {
      toggle: function(){
        this.isOpen = !this.isOpen;
      }
    }
}
</script>

<style lang="scss">

</style>
