<template>
    <nav>
        <nuxt-link to="/">Cartes postales</nuxt-link>
        <nuxt-link to="/indd">Texte libre</nuxt-link>
    </nav>
</template>

<script>
export default {}
</script>

<style lang="scss">
nav {
    display:flex;
    justify-content: flex-end;
    //margin-bottom:1rem;
    a {
        margin:0 1rem 1rem 0;
        color:$links;
        //font-weight:600;
        transition:all ease .2s;
        &:hover {
            text-decoration:none;
            color:darken($links,20%);
        }
    }
}
</style>
