<template>
    <article>
        <h6>{{titre}}</h6>
        <h2 class="mb-3"><span>{{prenom}}</span> <span>{{annee}}</span></h2>
        <figure class="image-container" v-for="image of images" :key="image">
            <a data-fancybox="" :href="'/images/postales/'+image.url+'.jpg'">
                <img :src="'/images/postales/'+image.url+'.jpg'" :alt="image.description">
            </a>
            <figcaption v-if="image.description">{{ image.description }}</figcaption>
        </figure>
        <button class="btn btn-sm btn-light" @click="isOpen = !isOpen" v-if="description">
            <span v-if="!isOpen">Afficher</span><span v-if="isOpen">Masquer</span> la description
        </button>
        <p class="mt-3" v-if="isOpen && description">
           {{ description }}
        </p>
    </article>
</template>

<script>
export default {
  props: {
      nom: String,
      prenom: String,
      titre: String,
      description: String,
      annee: String,
      images: Array,
      isOpen: Boolean
  },
  data() {
      return {
          isOpen: false
      }
  },
  methods: {
      toggle: function(){
        this.isOpen = !this.isOpen;
      }
    }
}
</script>

<style>
</style>
