<template>
  <div>
    <Menu />
    <Nuxt />
  </div>
</template>

<script>
import Menu from "~/components/Menu";

export default {
  components: {
    Menu
  }
}
</script>

<style>
  html {
    font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  body {
    padding:2rem 4rem 5rem;
    background:#f9f9f9;
    color:#f9f9f9;
    color:#000;
  }
  @media screen and (max-width:768px) {
    body {
      padding:2rem 4vw 5rem;
    }
  }
</style>