<template>
<div>
  <h1 class="pagetitle">{{ pagetitle }}</h1>
  <div class="galerie">
    <Indd
    v-for="miseenpage of misesenpage" :key="miseenpage"
    :prenom="miseenpage.prenom"
    :nom="miseenpage.nom"
    :annee="miseenpage.annee"
    :titre="miseenpage.titre"
    :description="miseenpage.description"
    :images="miseenpage.images"
    :descOpen="true"
    />
  </div>
</div>
</template>

<script>
import Indd from "~/components/Indd";
import InddJson from "@/data/indd.json";

export default {

  components: {
    Indd
  },
  data() {
      return {
        pagetitle: "Texte libre",
        misesenpage: InddJson
      }
    },
}
</script>

<style>
  .galerie {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
