<template>
<div>
  <h1 class="pagetitle">{{ pagetitle }}</h1>
  <div class="galerie">
    <Postale
    v-for="carte of cartes23" :key="carte"
    :prenom="carte.prenom"
    :nom="carte.nom"
    :annee="carte.annee"
    :titre="carte.titre"
    :description="carte.description"
    :images="carte.images"
    :descOpen="true"
    />
    <Postale
    v-for="carte of cartes" :key="carte"
    :prenom="carte.prenom"
    :nom="carte.nom"
    :annee="carte.annee"
    :titre="carte.titre"
    :description="carte.description"
    :images="carte.images"
    :descOpen="true"
    />
  </div>
  </div>
</template>

<script>
import Postale from "~/components/Postale";
import Postales from "@/data/postales.json";
import Galerie from "@/data/galerie.json";

export default {
  components: {
    Postale,
    Galerie
  },
  data() {
      return {
        pagetitle: "Une carte postale pour le futur",
        cartes: Postales,
        cartes23: Galerie
      }
    },
}
</script>

<style>
  .galerie {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
</style>
