// VARIABLES

$basecolor: rgb(67, 79, 82);
$links: rgb(0, 92, 197);

h1 {
   // font-family: 'Old Standard TT', serif;
    &.pagetitle {
        font-size:2.5rem;
        margin-bottom:2rem;
    }
}

article {
    h2 {
        font-weight:700;
        font-size:1.1rem;
        display:flex;
        justify-content: space-between;
    }
    figure {
        margin:0;
    }
    figcaption {
        margin-top:.25rem;
        font-size:.8rem;
        color:#666;
    }
    img {
        width:100%;
        height:auto;
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
        transition:all ease .2s;
        border-radius:.3rem;
        margin-bottom:.5rem;
        &:hover {
            transform: scale(1.01);
            border-radius:.3rem;
            
        }
    }
}

.fancybox-bg {
    background:#e6e0e0 !important;
}

.fancybox-slide--image {
    padding: 10rem !important;
}
